a {
  color: rgb(229,229,229);
  font-size: 15px;
  transition: 0.3s;
}

a:hover {
  color: rgb(229,229,229);
  text-decoration: none;
  color: rgb(179, 179, 179);
}

#mainHeader {
  background-color: rgb(20,20,20);
  height: 68px;
  z-index: 3;
  top: 0;
}

#logoDiv {
  margin-left: 3.7%;
  margin-right: 25px;
  
}

#logo {
  height: 38px;
  margin: auto 0
}

#headerButtonDiv {
  margin-left: auto;
  margin-right: 2.35%;
}

.icon {
  color: white;
  font-size: 20px;
}

button{
  background: none;
  border-style: none;
}

button:focus{
  outline: none;
}

.form-group {
  margin:0;
}

#searchDiv {
  border-style: none;
  border-color: white;
  border-width: 1px;
}

#searchNav {
  display: none;
}

#searchDiv {
  display: flex;
  height: 40px;
}

#searchNav input {
  background-color: rgb(20,20,20);
  border:0 ;
}

.form-control:focus{
  box-shadow: none;
  outline: none!important;
  border-color: inherit;
  -webkit-box-shadow: none;
}

#searchNav input {
  color: white;
}










