.thumbnail{
    width: 19%!important;
    padding: 3px;
    position: relative;
    

  }

  .thumbnail img {
    width: 100%!important;
    

  }

  



  
  .DisplayVideos{
    padding-top: 10px;
    overflow: hidden;
  }

  .DisplayVideos a {
    color: transparent;
    background: rgba(0, 0, 0, 0.2);
    width: 6%;
  }
  .DisplayVideos a:hover {
    opacity: 1;
    
  }
  