#mainFooter {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 80px;
}

#mainFooter * {
  color: grey;
}
.iconFooter {
  font-size: 30px;
  box-sizing: content-box;
}

#mainFooter p {
  width: 25%;
  font-size: 13px;
}

.service-code{
  background-color: transparent;
  border: 1px solid grey;
  font-size: 13px;
  padding: 5.8px 6.5px
}

.copyright{
  font-size: 11px;
  padding: 19px 0px 10px;
}

